{% extends 'base.html' %}

{% block content %}

<section class="row">
    <div class="col-12 col-md-6">
        <img src="../../static/images/measuring_spoons.jpg" alt="recipe-image" id="recipe-image">
    </div>

    <div class="col-12 col-md-6">
        <h1>Welcome to Goode Grub</h1>
        <h2>Having trouble deciding on dinner?</h2>
        <h2>Feel like you're constantly making the same thing?</h2>
        <h5>Browse and save some new recipes!</h5>

        <div>
            <button class="btn btn-secondary" ">Sign Up Now!</button>
        </div>
    </div>
</section>


{% endblock content %}